.navi-wrap {
  padding: 20px;
  width: 200px;
  margin-left: auto;
}
.navi {
  display: flex;
  flex-flow: column nowrap;
  font-size: 18px;
  &-btn {
    display: inline-flex;
    border-radius: 20px;
    color: var(--btn-default-color);
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    margin-bottom: 6px;
    white-space: nowrap;
    align-items: center;
    font-weight: bold;
    transition: all 0.3s ease;
    span {
      margin: 0 8px;
    }
  }
  &-btn:hover {
    color: var(--btn-hov);
    background-color: var(--btn-bg);
  }
}

.active {
  .navi-btn {
    color: var(--btn-color);
  }
}
