.com-card {
  border-radius: 10px !important;
  background-color: var(--input-color) !important;
  margin: 10px 0 !important;
  .no-comment {
    color: var(--btn-default-color);
  }
  .load-more {
    border-radius: 10px !important;
    background-color: var(--main-bg);
  }
}
