:root {
  --main-bg: rgb(243, 243, 243);
  --input-color: rgb(247, 247, 247);
  /* 侧边栏按钮变量 */
  --btn-color: cornflowerblue;
  --btn-default-color: rgba(0, 0, 0, 0.45);
  --btn-bg: #90d0fa;
  --btn-hov: #fff;
  /* 评论 */
}

html,
body,
#root {
  background-color: var(--main-bg) !important;
}

#root {
  // 防止移动端 navi 导致横向滚动
  overflow-x: hidden;
}

.ant-layout-header,
.ant-layout-sider {
  background: transparent !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 覆盖 antd 的一些默认样式
.ant-message-notice-content {
  border-radius: 10px !important;
}
.ant-input {
  border-radius: 6px !important;
  background: var(--input-color) !important;
}
.ant-input-affix-wrapper {
  // padding: 4px 6px !important;
  border-radius: 6px !important;
  background: var(--input-color) !important;
}
.ant-message-notice-content {
  border-radius: 10px !important;
}

img {
  border-radius: 8px;
}
