:root {
  --main-bg: rgb(243, 243, 243);
  --input-color: rgb(247, 247, 247);
  /* 侧边栏按钮变量 */
  --btn-color: cornflowerblue;
  --btn-default-color: #000;
  --btn-bg: #90d0fa;
  --btn-hov: #fff;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--main-bg);
}

.ant-layout-header,
.ant-layout-sider {
  background: transparent !important;
}

/* 首页垂直布局 */
.ant-row,
.ant-col {
  height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
